Django==1.9.2
django-debug-toolbar==1.4
django-localflavor==1.1
django-mongoengine-forms==0.4.1
mongoengine==0.10.6
Pillow==2.8.1
psutil==2.2.1
pymongo==3.2.1
PyPDF2==1.24
pypng==0.0.17
python-dateutil==2.4.2
six==1.9.0
sqlparse==0.1.18
virtualenv==13.1.2
wheel==0.24.0
