Django==1.9
django-debug-toolbar==1.4
django-localflavor==1.1
django-mongoengine-forms==0.4.0
httplib2==0.9.1
mongodbforms==0.3
mongoengine==0.10.5
Pillow==2.8.1
psutil==2.2.1
pymongo==3.2
pymssql==2.1.1
PyPDF2==1.24
pypng==0.0.17
PyQRCode==1.0
pytesseract==0.1.6
python-dateutil==2.4.2
six==1.9.0
sqlparse==0.1.18
virtualenv==13.1.2
wheel==0.24.0
