{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block header %}Accedi{% endblock %}

{% block body_block %}

<div class="row col-md-4">
    <form class="form-signin" role="form" method="post" action=".">
        {% csrf_token %}

        <input class="form-control" placeholder="Username" id="id_username" maxlength="254" name="username" type="text" required autofocus=""/>
        <input type="password" class="form-control" placeholder="Password" id="id_password" name="password" type="password" required />

        <button size="small" class="btn btn-lg btn-primary btn-block" type="submit" value="Submit">Sign in</button>
    </form>
</div>
{% endblock %}