{% extends 'basejqx_nolayout.html' %}
{% load staticfiles %}

{% block title %}Login{% endblock %}

{% block js %}
    {{ block.super }} {# includes previous content in block #}
    {# Javascript specifici #}
    <script type="text/javascript">
    $(document).ready(function () {
        $("#jqxwindow ").jqxWindow({
            height: 220,
            width: 250,
            isModal: true,
            resizable: false,
            showCloseButton: false,
            draggable: false,
        });
        $("#txtold_password").jqxPasswordInput();
        $("#txtnew_password1").jqxPasswordInput();
        $("#txtnew_password2").jqxPasswordInput();
        $("#submit").jqxButton({});

    });
    </script>
    <style>
        .control {
            height: 500px;
        }

        .ejinputtext {
            height: 25px;
            width: 100%;
            margin-bottom: 10px;
        }

        .row .cols-sample-area {
            padding: 0px;
            margin-bottom: 50px;
            position: relative;
        }

        .top {
            margin-top: 5px;
        }

        .reqired {
            margin: 0 0 3px 0;
            color: red;
            display: inline-block;
        }
    </style>

{% endblock %}


{% block body_block %}

<div id='jqxwindow'>
	<div>Login</div>
	<div>
        <form method="post" action=".">
            {% csrf_token %}
            <table>
                <tr>
                    <td>
                        Vecchia Password <div class="reqired">*</div>
                        {{ form.old_password.errors }}
                        <input type="password" name="old_password" id="txtold_password" {{ form.old_password.value }} />
                    </td>
                <tr>
                    <td>
                        Nuova Password <div class="reqired">*</div>
                        {{ form.new_password1.errors }}
                        <input type="password" name="new_password1" id="txtnew_password1" {{ form.new_password1.value }} />
                    </td>
                </tr>
                <tr>
                    <td>
                        Ripeti Nuova Password <p class="reqired">*</p>
                        {{ form.new_password2.errors }}
                        <input type="password" name="new_password2" id="txtnew_password2" {{ form.new_password1.value }} />
                    </td>
                </tr>
            </table>
            <div align="center">
                <br>
                <input type="submit" id="submit" value="CAMBIA" />
            </div>
        </form>
    </div>
</div>

{% endblock %}

