{% extends "base.html" %}

{% block title %}Cancellazione Raggruppamento{% endblock %}

{% block header %}Cancellazione Raggruppamento{% endblock %}

{% block body_block %}

   <form method="post" class="form">
        {% csrf_token %}
        <strong>{{ object }}</strong>
        <br/><br/>
        ATTENZIONE - Questo Raggruppamento verrà eliminato !
        <br/><br>

        <input class="btn btn-default" type="button" onclick="window.location = '{% url 'iniziative:index' %}'" value="Annulla">
        <input class="btn btn-danger" type="submit" value="Conferma" />
    </form>
{% endblock %}
