{% extends "base.html" %}
{% load bootstrap3 %}

{% block title %}Raggruppamento{% endblock %}
{% block header %}Raggruppamento di : <strong>{{ sottoiniziativa.nome }}</strong>{% endblock %}

{% block body_block %}

    <form role="form" class="form-horizontal" method="post">
        {% csrf_token %}

        {% bootstrap_form form layout="horizontal" %}

        {% buttons size='sm' layout='horizontal' %}
            <button type="submit" class="btn btn-primary">
                {% bootstrap_icon "save" %} Ok
            </button>
            <button type="reset" class="btn btn-default">
                Pulisci Campi
            </button>
            <input class="btn btn-info" type="button" onclick="window.location = '{% url 'iniziative:sub_detail' sottoiniziativa.pk %}'" value="Indietro">
        {% endbuttons %}
    </form>

{% endblock %}

{% block side_block %}:){% endblock %}