{% extends 'base.html' %}

{% block title %}Dettaglio Raggruppamento{% endblock %}
{% block header %}Dettaglio Raggruppamento{% endblock %}

{% block body_block %}

<table border="1" style="width:100%">
    <tr class="thead">
        <td>Raggruppamento : {{ gruppo.nome }}</td>
        <td>Sotto Iniziativa Padre : {{ sottoiniziativa.nome }}</td>
        <td>Iniziativa Radice : {{ iniziativa.nome }}</td>
    </tr>
    <tr>
        <td>
            Descrizione: {{ gruppo.descrizione }}<br>
            Ordine: {{ gruppo.ordine }}<br>
            In uso : {{ gruppo.in_uso|yesno:"Si,No" }}
        </td>
        <td>
            Descrizione: {{ sottoiniziativa.descrizione }}<br>
            In uso : {{ sottoiniziativa.in_uso|yesno:"Si,No" }}
        </td>
        <td>
            Descrizione: {{ iniziativa.descrizione }}<br>
            CUP/CIG: {{ iniziativa.cup_cig }}<br>
            In uso : {{ iniziativa.in_uso|yesno:"Si,No" }}
        </td>
    </tr>
    <tr class="small">
        <td>
            Data Aggiornamento: {{ gruppo.data_aggiornamento|date }}<br>
            Data Creazione: {{ gruppo.data_creazione|date }}
        </td>
        <td>
            Data Aggiornamento: {{ sottoiniziativa.data_aggiornamento|date }}<br>
            Data Creazione: {{ sottoiniziativa.data_creazione|date }}
        </td>
        <td>
            Data Aggiornamento: {{ iniziativa.data_aggiornamento|date }}<br>
            Data Creazione: {{ iniziativa.data_creazione|date }}
        </td>
    </tr>
</table>

<p class="text-center">
    <a href="javascript:void(0)" class="easyui-linkbutton" onclick="window.history.back();"
           data-options="iconCls:'icon-back'">Indietro
    </a>
    <a class="easyui-linkbutton" iconCls="icon-edit" href="{% url 'iniziative:grp_edit' gruppo.pk %}">Modifica</a>
</p>

{% endblock %}
