{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Dettaglio Iniziativa{% endblock %}
{% block header %}Dettaglio Iniziativa{% endblock %}

{% block body_block %}

 <div class="row col-md-8">
    <div>
        <p class="lead"><ins>Iniziativa: {{ iniziativa.nome }}</ins></p>
        <p>
            Descrizione: {{ iniziativa.descrizione }}<br>
            CUP/CIG: {{ iniziativa.cup_cig }}<br>
            In uso : {{ iniziativa.in_uso|yesno:"Si,No" }}
        </p>
        <p class="small">
            Data Aggiornamento: {{ iniziativa.data_aggiornamento|date }}<br>
            Data Creazione: {{ iniziativa.data_creazione|date }}
        </p>
    </div>

    <div>
        <br>
        <input class="btn btn-default" type="button" onclick="window.location = '{% url 'iniziative:index' %}'" value="Indietro">
        <input class="btn btn-default" type="button" onclick="window.location = '{% url 'iniziative:edit' iniziativa.pk %}'" value="Edit">
        <br><br>
    </div>

 <div class="row col-md-8">
     <h4>Sottoiniziative Correlate</h4>

     <div class="text-center">
        <input class="btn btn-info" type="button" onclick="window.location = '{% url 'iniziative:sub_add' iniziativa.pk %}'"
            value="Aggiungi Sottoiniziativa"><br><br>
     </div>

    {% if sottoiniziative %}
        <table class="table table-bordered">
            <tr>
                <th>Nome</th>
                <th>Descrizione</th>
                <th>Azione</th>
            </tr>
            {% for sotto_iniziativa in sottoiniziative %}
              <tr>
                <td><li><a href="{% url 'iniziative:sub_detail' sotto_iniziativa.pk %}">{{ sotto_iniziativa.nome }}</a></li></td>
                <td>{{ sotto_iniziativa.descrizione }}</td>
                <td>
                    <a class="glyphicon glyphicon-remove" href="{% url 'iniziative:sub_delete' sotto_iniziativa.pk %}"></a>
                    <a class="glyphicon glyphicon-edit" href="{% url 'iniziative:sub_edit' sotto_iniziativa.pk %}"></a>
                </td>
              </tr>
            {% endfor %}
        </table>
    {% else %}
        <strong><mark>Nessuna Presente !</mark></strong>
    {% endif %}
 </div>

{% endblock %}

