{% extends "base.html" %}

{% block title %}SottoIniziativa{% endblock %}
{% block header %}Sottoiniziativa di : <strong>{{ iniziativa.nome }}</strong>{% endblock %}

{% block body_block %}
<script>
    function submitForm(){
        document.getElementById("ff").submit();
    }

    function clearForm(){
        document.getElementById("ff").reset();
    }
</script>

<form id="ff" class="easyui-panel" method="post">
    {% csrf_token %}

    {{ form.as_p }}

    <div align="center">
        <a href="javascript:void(0)" class="easyui-linkbutton" onclick="submitForm()" data-options="iconCls:'icon-save'">Salva</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" onclick="clearForm()" data-options="iconCls:'icon-clear'">Clear</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" onclick="window.location = '{% url 'iniziative:detail' iniziativa.pk %}'"
           data-options="iconCls:'icon-back'">Indietro
        </a>
    </div>
</form>
{% endblock %}
