{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Lista Corsi{% endblock %}
{% block header %}Lista Corsi{% endblock %}

{% block body_block %}

    {% if object_list %}
        <div>
            <table class="easyui-datagrid" title="Load Data" iconCls="icon-save"
            sortName="itemid" sortOrder="asc"
            rownumbers="true" pagination="true" url="/si/corsi/api/get_corsi"
            method="get">
                <thead>
                    <tr>
                        <th data-options="field:'codice', sortable:'true'">Codice Edizione</th>
                        <th data-options="field:'denominazione'">Denominazione</th>
                        <th data-options="field:'Data Inizio'">Data Inizio</th>
                        <th data-options="field:'Data Fine'">Data Fine</th>
                        <th data-options="field:'Stato'">Stato</th>
                    </tr>
                </thead>
                <tbody>
                {% for corso in object_list %}
                    <tr>
                        <td>{{ corso.codice_edizione }}</td>
                        <td>{{ corso.denominazione }}</td>
                        <td>{{ corso.data_inizio }}</td>
                        <td>{{ corso.data_fine }}</td>
                        <td>{{ corso.get_stato_display }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <div class="jumbotron">
            <strong>Nessuno Presente !</strong>
        </div>
    {% endif %}


<script>
  $(function() {
    $( "#tags" ).autocomplete({
      source: "/si/corsi/api/get_corsi"
    });
  });
</script>



<div class="ui-widget">
  <label for="tags">Tags: </label>
  <input id="tags">
</div>


{% endblock %}

