
{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Lista Corsi{% endblock %}
{% block header %}Lista Corsi{% endblock %}

{% block body_block %}

    {% if lista_corsi %}
        <div>
            <table class="easyui-datagrid">
                <thead>
                    <tr>
                        <th data-options="field:'Codice Corso'">Codice Corso</th>
                        <th data-options="field:'Denominazione'">Denominazione</th>
                        <th data-options="field:'Durata'">Durata</th>
                        <th data-options="field:'Ordine'">Ordine</th>
                    </tr>
                </thead>

                <tbody>
                {% for corso in lista_corsi %}
                    <tr>
                        <td><a href="{% url 'corsi:edit' corso.codice_edizione %}">{{ corso.codice_edizione }}</a></td>
                        <td>{{ corso.denominazione }}</td>
                        <td>{{ corso.durata }}</td>
                        <td>{{ corso.ordine }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <div class="jumbotron">
            <strong>Nessuno Presente !</strong>
        </div>
    {% endif %}

    <div align="center">
        <p>
            <a class="easyui-linkbutton" iconCls="icon-add" href="{% url 'corsi:add' %}">Nuovo Corso</a>
        </p>
    </div>

{% endblock %}

