
{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Lista Corsi{% endblock %}
{% block header %}Lista Corsi{% endblock %}

{% block body_block %}

    {% if object_list %}
        <div>
            <table class="easyui-datagrid">
                <thead>
                    <tr>
                        <th data-options="field:'Codice Corso'">Codice Corso</th>
                        <th data-options="field:'Denominazione'">Denominazione</th>
                        <th data-options="field:'Corsi'">Corsi</th>
                        <th data-options="field:'Stato'">Stato</th>
                    </tr>
                </thead>

                <tbody>
                {% for ordine in lista_ordini %}
                    <tr>
                        <td><a href="{% url 'op:edit' ordine.ordine_numero %}">{{ ordine.ordine_numero }}</a></td>
                        <td>{{ ordine.committenti }}</td>
                        <td>{{ ordine.corsi }}</td>
                        <td>{{ ordine.stato }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <div class="jumbotron">
            <strong>Nessuno Presente !</strong>
        </div>
    {% endif %}

{% endblock %}

