<!DOCTYPE html>
{% load staticfiles %}

<html lang="it" xmlns="http://www.w3.org/1999/html">

<head>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Titolo della pagina che viene sostituito nell'implementazione -->
    <title>
        SI - {% block title %} Titolo {% endblock %}
    </title>

    <!-- Mie informazioni sul sistema. -->
    <meta name="description" content="Sistema Informatico Scuola Camerana">
    <meta name="author" content="Pilone Ing. Sigfrido">

    <!-- Iconcina del sistema -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static "images/favicon.ico" %}" >
    <link rel="icon" type="image/x-icon" href="{% static "images/favicon.ico" %}" >

    <!-- JQwidgets Specifici -->
{% block js %}
    <link rel="stylesheet" href="{% static "jqw/jqwidgets/styles/jqx.base.css" %}" type="text/css" />
    <link rel="stylesheet" href="{% static "jqw/jqwidgets/styles/jqx.darkblue.css" %}" type="text/css" />
    <script type="text/javascript" src="{% static "jqw/scripts/jquery-1.11.1.min.js" %}"></script>
    <script type="text/javascript" src="{% static "jqw/jqwidgets/jqxcore.js" %}"></script>
    <script type="text/javascript" src="{% static "jqw/jqwidgets/jqx-all.js" %}"></script>

    <script type="text/javascript">
        $.jqx.theme = 'darkblue';

    function mostraErrore(elemento, messaggio) {
        elemento.jqxTooltip({ content: messaggio, position: 'top', autoHide: false, trigger: "none", closeOnClick: false });
        elemento.jqxTooltip("open");
    }
    </script>
{% endblock %}

</head>


<body>
{% block body_block %} Area di testo {% endblock %}
</body>

</html>