<!DOCTYPE html>
{% load staticfiles %}

<html lang="it" xmlns="http://www.w3.org/1999/html"></html>

<head>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Titolo della pagina che viene sostituito nell'implementazione -->
    <title>
        SI - {% block title %} Titolo {% endblock %}
    </title>

    <!-- Mie informazioni sul sistema. -->
    <meta name="description" content="Sistema Informatico Scuola Camerana">
    <meta name="author" content="Pilone Ing. Sigfrido">

    <!-- Iconcina del sistema -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static "images/favicon.ico" %}" >
    <link rel="icon" type="image/x-icon" href="{% static "images/favicon.ico" %}" >

    <!-- JQuery Easy UI specifici -->
    <link rel="stylesheet" type="text/css" href="{% static "jqeasy/themes/ui-dark-hive/easyui.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "jqeasy/themes/icon.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "jqeasy/themes/color.css" %}">
    <script type="text/javascript" src="{% static "jqeasy/jquery.min.js" %}"></script>
    <script type="text/javascript" src="{% static "jqeasy/jquery.easyui.min.js" %}"></script>
    <script type="text/javascript" src="{% static "jqeasy/locale/easyui-lang-it.js" %}"></script>

    <!-- Si Specifici -->
    <link rel="stylesheet" href="{% static "css/si.css" %}" />
</head>

<body>
    <!-- Toolbar -->
    <div class="easyui-layout" style="width:100%;height:700px;">
        <div data-options="region:'north', title:'Sistema Informatico', collapsible:false" style="height:70px">

            <div class="easyui-panel" style="padding:1px;">
                <a href="{% url 'index' %}" class="easyui-linkbutton" data-options="plain:true">Home</a>
                {% if user.is_authenticated %}
                    <a href="{% url 'iniziative:index' %}" class="easyui-linkbutton" data-options="plain:true">Iniziative (Obsoleto)</a>
                    <a href="{% url 'op:index' %}" class="easyui-linkbutton" data-options="plain:true">Ordini</a>
                    {% comment %}
                        <a href="{% url 'fs:index' %}" class="easyui-linkbutton" data-options="plain:true">File System</a>
                        <a href="{% url 'corsi:index' %}" class="easyui-linkbutton" data-options="plain:true">Gestione Corsi</a>
                        <a href="{% url 'logout' %}?next=/si/" class="easyui-linkbutton" data-options="plain:true">Logout</a>
                        <a href="#" class="easyui-menubutton" data-options="menu:'#mm1'">Segnalazioni</a>
                    {% endcomment %}
                {% else %}
                    <a href="{% url 'login' %}" class="easyui-linkbutton" data-options="plain:true">Login</a>
                    <a href="{% url 'about' %}" class="easyui-linkbutton" data-options="plain:true">About</a>
                {% endif %}
            </div>
        </div>

    {% comment %}
        <div id="mm1" style="width:150px;">
                <div><a href="{% url 'segnalazioni:index' %}">Corsi per Segnalazioni</a></div>
                <div data-options="iconCls:'icon-redo'">Redo</div>
                <div class="menu-sep"></div>
                <div>Cut</div>
                <div>Copy</div>
                <div>Paste</div>
                <div class="menu-sep"></div>
                <div>
                    <span>Toolbar</span>
                    <div>
                        <div>Address</div>
                        <div>Link</div>
                        <div>Navigation Toolbar</div>
                        <div>Bookmark Toolbar</div>
                        <div class="menu-sep"></div>
                        <div>New Toolbar...</div>
                    </div>
                </div>
                <div data-options="iconCls:'icon-remove'">Delete</div>
                <div>Select All</div>
        </div>
    {% endcomment %}
        <!-- Sezione Centrale -->
        <div data-options="region:'center',title:'{% block header %}Vuoto{% endblock %}'">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endfor %}


            {% block body_block %} Body - Questo non si dovrebbe mai leggere {% endblock %}
        </div>

        <!-- Piede -->
        <div data-options="region:'south',split:true" style="height:50px;"></div>
    </div>

</body>
</html>