{% extends "base_popup.html" %}

{% block title %}Cancellazione File{% endblock %}

{% block header %}Cancellazione File{% endblock %}

{% block body_block %}

   <form method="post" class="form">
        {% csrf_token %}
        <strong>{{ sifile.nome }}</strong>
        <br/><br/>
        ATTENZIONE - Questo File verrà eliminato !
        <br/><br>

        <input class="btn btn-default" type="button" onclick="window.close()" value="Annulla">
        <input class="btn btn-danger" type="submit" value="Conferma" />
    </form>
{% endblock %}
